{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <!-- Login Form -->
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card shadow">
                    <div class="card-body">
                        <form method="post" action={{ path('login')}}>
                            <div class="mb-4">
                                <label for="username" class="form-label">Email</label>
                                <input type="text" value="{{ last_username }}" name="_username" class="form-control" id="username" />
                            </div>
                            <div class="mb-4">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="_password" class="form-control" id="password" />
                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}">
                            </div>
                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-lg btn-primary">Login</button>
                            </div>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}